# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.idea/
*.iml
.externalNativeBuild
.cxx/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
*.swp
*.swo
*~
